.content {
  margin: 18px;
  font-size: 16px;
}

.input-radio {
  margin-right: 8px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.flex {
  display: flex;
}

.control-radio {
  margin: 12px;
}

.input-text {
  border: 0.5px solid darkgrey;
}

.form-control {
  padding: 8px;
  margin: 12px;
}

.btn {
  margin: 12px;
  padding: 8px;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

th, td, td > div {
  padding-top: 40px;
  width: 150px;
}
